input(type='hidden', name='pushStateUrl', value=pushStateUrl)
h1 Vielen Dank!
p
  | Deine diplomatische Anfrage ist eingegangen!
  | In Kürze wird eine Abstimmung unter allen Spielern erfolgen. Wir melden uns :)
