#winning-history {
  gap: 5px;
  place-items: stretch;
}

#winning-history .victory {
  background-color: $win-color;
  min-height: 15px;
  min-width: 75px;
  padding: 10px;
}

#winning-history * {
  text-align: center;
}
