header {
  display: grid;
  grid-template-areas:
    'nav theme'
    'title title';
  grid-template-columns: $header-mobile-top-row-height 1fr;
  grid-template-rows: $header-mobile-top-row-height $header-mobile-bottom-row-height;
  margin-top: $header-mobile-margin-top;
  padding: $header-mobile-padding;
}

header .headline {
  align-self: end;
  grid-area: title;
  margin-bottom: $header-mobile-headline-margin-bottom;
  margin-left: $header-mobile-headline-margin-left;
}

header .theme-light,
header .theme-dark {
  align-self: center;
  grid-area: theme;
  justify-self: end;
}

.theme-light,
.theme-dark,
header .nav li:hover {
  cursor: pointer;
}
