header {
  display: grid;
  grid-template-areas:
    'symbol theme'
    'title title';
  grid-template-columns: auto 1fr;
  grid-template-rows: $header-mobile-top-row-height $header-mobile-bottom-row-height;
  margin-top: $header-mobile-margin-top;
  padding: $header-mobile-padding;
}

header input,
header .menu-symbol {
  grid-area: symbol;
  height: $header-mobile-top-row-height;
  position: absolute;
  width: $header-mobile-top-row-height;
}

header input {
  opacity: 0;
  z-index: $header-mobile-symbol-z-index;
}

header .headline {
  align-self: end;
  grid-area: title;
  margin-bottom: $header-mobile-headline-margin-bottom;
  margin-left: $header-mobile-headline-margin-left;
}

header .theme-light,
header .theme-dark {
  align-self: center;
  grid-area: theme;
  justify-self: end;
}

header .menu-symbol div {
  height: $header-mobile-symbol-bar-height;
  margin-left: $header-mobile-symbol-bar-margin-left;
  position: absolute;
  transform: rotateX(0deg);
  transition-duration: 1s;
  transition-property: margin-top transform opacity;
  transition-timing-function: ease-in-out;
  width: $header-mobile-symbol-bar-width;
  z-index: $header-mobile-symbol-z-index - 1;
}

header .menu-symbol div:first-child {
  margin-top: $header-mobile-symbol-top-bar-margin-top;
}

header .menu-symbol div:nth-child(2) {
  margin-top: $header-mobile-symbol-middle-bar-margin-top;
}

header .menu-symbol div:last-child {
  margin-top: $header-mobile-symbol-bottom-bar-margin-top;
}

header input:checked ~ .menu-symbol div:first-child {
  margin-top: $header-mobile-symbol-middle-bar-margin-top;
  transform: rotateZ(225deg);
}

header input:checked ~ .menu-symbol div:nth-child(2) {  
  opacity: 0;
  transform: translateX(-100px);
}

header input:checked ~ .menu-symbol div:last-child {
  margin-top: $header-mobile-symbol-middle-bar-margin-top;
  transform: rotateZ(-225deg);
}

.nav {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: $header-mobile-nav-padding-top;
  position: absolute;
  text-align: center;
  top: 0;
  transition: width 0.5s ease-in-out;
  width: 0;
  z-index: $header-mobile-symbol-z-index - 2;
}

header input:checked ~ .nav {
  width: 100%;
}

header .nav ul {
  list-style-type: none;
  padding: 0;
}

header .nav li {
  margin-bottom: $header-mobile-nav-entry-margin-top;
}

.theme-light,
.theme-dark,
header .nav li:hover {
  cursor: pointer;
}
