// default theme colors
$lightness: 11%;

$color-background: hsl(0, 0, $lightness);
$color-foreground: hsl(0, 0, 100% - $lightness);

// light theme colors
$color-background-light: hsl(0, 0, 100% - $lightness);
$color-foreground-light: hsl(0, 0, $lightness);

// breakpoints
$breakpoint-small: 'small';
$breakpoint-medium: 'medium';
$breakpoint-large: 'large';

$breakpoint-small-min-width: 600px;
$breakpoint-medium-min-width: 1000px;
$breakpoint-large-min-width: 1200px;
