.light {
  background: $color-background-light;
  color: $color-foreground-light;
}

.light .theme-light {
  display: none;
}

.light .theme-dark {
  display: block;
}

.light header .menu-symbol div {
  background: $color-foreground-light;
}

.light .nav {
  background-color: $color-background-light;
}

.light .hover-underline-animation::after {
  background-color: $color-foreground-light;
}
