mixin barChart(headline, data)
  .container
    h1= headline
    .bar-chart(class='grid-' + data.cols)
      each element in data.entries
        div(class=element.class)= element.value

.container
  h1 Statistik-Zentrale

  +barChart('Spiel-Historie', gameHistory)
  +barChart('Gewonnene Spiele je Seite', winningBySide)
  +barChart('Gewonnene Spiele je Spieler', winningByPlayers)
  +barChart('Gespielte Seiten', playedSides)
  +barChart('Gespielte Nationen', playedCountries)
