// https://sass-guidelin.es/#responsive-web-design-and-breakpoints

$breakpoints: (
  $breakpoint-small: (min-width: $breakpoint-small-min-width),
  $breakpoint-medium: (min-width: $breakpoint-medium-min-width),
  $breakpoint-large: (min-width: $breakpoint-large-min-width),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if (
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
      + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin respond-to-for-property($property, $mobile, $small, $medium, $large) {
  #{$property}: $mobile;
  
  @include respond-to($breakpoint-small) {
    #{$property}: $small;
  }

  @include respond-to($breakpoint-medium) {
    #{$property}: $medium;
  }

  @include respond-to($breakpoint-large) {
    #{$property}: $large;
  }
}
