html {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.headline {
  font-family: 'Montserrat Subrayada', sans-serif;
  @include media-queries(font-size, $breakpoint-min-width, $breakpoint-medium-min-width, 100px, 1.3rem, 0.3rem);
}

.top-menu {
  @include media-queries(font-size, $breakpoint-min-width, $breakpoint-medium-min-width, 100px, 1.1rem, 0.3rem);
}

.nav {
  @include media-queries(font-size, $breakpoint-min-width, $breakpoint-medium-min-width, 100px, 1.1rem, 0.3rem);
}
