html {
  font-family: 'Montserrat', sans-serif;
}

.headline {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: $header-mobile-headline-font-size;
}

.top-menu {
  font-size: $header-mobile-top-menu-font-size;
}

.nav {
  font-size: $header-mobile-slide-menu-font-size;
}
