header
  input(type='checkbox')
  .menu-symbol
    div
    div
    div
  .headline= pugData.header.title
  .top-menu.theme-light.hover-underline-animation Light Theme
  .top-menu.theme-dark.hover-underline-animation Dark Theme
  .nav
    ul
      each entry in pugData.menu
        li(class=entry.class)
          if entry.link
            a.hover-underline-animation(href=entry.link)= entry.name
          else
            a.hover-underline-animation= entry.name
